<div class="public-recipes-cont">
  <h2 class="">Public Recipes</h2>
  <% @recipes.each do |recipe|%>
  <div class="recipes-list">
    <%= link_to recipe_path(recipe.id), class: "" do %>
    <div class="pub-recipe">
      <div class="recipe-left">
        <h3 class=""><%= recipe.name.capitalize %></h3>
        <p class="">By: <%= recipe.user.name.capitalize %></p>
      </div>
        <article>
          <p class="">Total food items: <%= @ingredients.where(recipe: recipe).count %></p>
          <p class="">Total Price: $ <%= @ingredients.where(recipe: recipe).map {|value| value.food.price * value.quantity}.sum %></p>
        </article>
    </div>
  <% end %>
  </div>
  <% end %>
</div>
